<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ride</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <!--<ion-item>-->
      <!--<ion-label position="floating">Destination</ion-label>-->
      <!--<ion-input formControlName="destination"></ion-input>-->
    <!--</ion-item>-->
    <ion-select [(ngModel)]="destination" formControlName="destination"  placeholder="Destination">
      <ion-select-option value="Kansas City International Airport" selected>Kansas City International Airport</ion-select-option>
      <ion-select-option value="The Retreat at Walnut Creek, 1300 NE Parvin Rd, Kansas City, MO 64116">The Retreat at Walnut Creek, 1300 NE Parvin Rd, Kansas City, MO 64116</ion-select-option>
      <ion-select-option value="University of Missouri-Kansas City: Volker Campus">University of Missouri-Kansas City: Volker Campus</ion-select-option>
    </ion-select>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Start Ride</ion-button>
  </form>

  <div #mapElement class="map"></div>
</ion-content>
