
.ion-margin-top{
  background: url(../../assets/images/login2.png);
  width: 100%;
  height: 246px;
}
.timesFontStyle{
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
}
