<html>
<head>
  <style>
    .textAlign{
      width: 94%;
      margin-left: 3%;
    }
  </style>
</head>

<ion-header>

</ion-header>

<ion-content>
<br>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>



  <!--<ion-text  >
    <h4 >The estimated time of arrival: 27 mins(23 miles)</h4>
  </ion-text>-->

<!--    <ion-label position="stacked"></ion-label>-->
  <div class="textAlign">
   <h3 style="overflow: hidden"> <strong><ion-textarea

            readonly
            value="  The Estimated Time of Arrival: 27 mins(23 miles)">
    </ion-textarea></strong></h3>
  </div>
<!--  </ion-item>-->

</ion-content>
</html>
